/* You can add global styles to this file, and also import other style files */

* {
    user-select: none;
    touch-action: none;
}

html, body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
