<div class="dungeon" *ngIf="communicationService.authenticatedSocketConnected">
  
  <div
    *ngFor="let player of dungeon.otherPlayers"
    class="player"
    [style.z-index]="player.position.y + Z_INDEX_OFFSET"
    [style.left]="(player.position.x * 32 - 16) + 'px'"
    [style.top]="(player.position.y * 32 - 40) + 'px'"
    (transitionend)="onOtherPlayerTransitionEnd(player)"
  >
    <img
      [ngClass]="{
        'face-left': player.action === 'face-left',
        'face-right': player.action === 'face-right',
        'face-up': player.action === 'face-up',
        'face-down': player.action === 'face-down',
        'walk-left': player.action === 'walk-left',
        'walk-right': player.action === 'walk-right',
        'walk-up': player.action === 'walk-up',
        'walk-down': player.action === 'walk-down'
      }"
      src="assets/{{player.avatar}}.png"
    >
  </div>
  
  <div
    *ngIf="dungeon.me.email"
    class="player"
    [style.z-index]="dungeon.me.position.y + Z_INDEX_OFFSET"
    [style.left]="(dungeon.me.position.x * 32 - 16) + 'px'"
    [style.top]="(dungeon.me.position.y * 32 - 40) + 'px'"
    (transitionend)="onTransitionEnd()"
  >
    <img
      [ngClass]="{
        'face-left': dungeon.me.action === 'face-left',
        'face-right': dungeon.me.action === 'face-right',
        'face-up': dungeon.me.action === 'face-up',
        'face-down': dungeon.me.action === 'face-down',
        'walk-left': dungeon.me.action === 'walk-left',
        'walk-right': dungeon.me.action === 'walk-right',
        'walk-up': dungeon.me.action === 'walk-up',
        'walk-down': dungeon.me.action === 'walk-down'
      }"
      src="assets/{{dungeon.me.avatar}}.png"
    >
  </div>

  <!-- tiles -->

  <div
    *ngFor="let tile of dungeon.tilesArray"
    class="tile"
    [style.z-index]="tile.position.y - 3 + Z_INDEX_OFFSET"
    [style.left]="(tile.position.x * 32) + 'px'"
    [style.top]="(tile.position.y * 32) + 'px'"
  >
    <img *ngIf="tile.type === 1" src="assets/tile.png">
    <div *ngIf="tile.type === 0">{{tile.position.x}},{{tile.position.y}}</div>
  </div>


</div>

<div class="position-absolute bottom-0 mb-1 ms-1">
  
  <div *ngIf="!communicationService.anonymousSocketConnected && !communicationService.authenticatedSocketConnected">
    Connecting....
  </div>

  <div *ngIf="communicationService.authenticatedSocketConnected" class="d-flex align-items-baseline">
    <button type="button" class="btn btn-primary" (click)="logout()"> Logout </button>
    <div class="ms-2 text-info">{{dungeon.me.email}}</div>
  </div>

  <div *ngIf="communicationService.anonymousSocketConnected">
    <authentication-widget [anonymousSocket]="communicationService.anonymousSocket"></authentication-widget>
  </div>
</div>
