<div *ngIf="authenticatedSocketConnected">
  
  <div
    *ngFor="let player of game.otherPlayers"
    class="player"
    [style.z-index]="player.position.y"
    [style.left]="(player.position.x * 32) + 'px'"
    [style.top]="(player.position.y * 32) + 'px'"
    (transitionend)="onOtherPlayerTransitionEnd(player)"
  >
    <img
      [ngClass]="{
        'face-left': player.action === 'face-left',
        'face-right': player.action === 'face-right',
        'face-up': player.action === 'face-up',
        'face-down': player.action === 'face-down',
        'walk-left': player.action === 'walk-left',
        'walk-right': player.action === 'walk-right',
        'walk-up': player.action === 'walk-up',
        'walk-down': player.action === 'walk-down'
      }"
      src="assets/{{player.avatar}}.png"
    >
  </div>
  
  <div
    *ngIf="game.me.email"
    class="player"
    [style.z-index]="game.me.position.y"
    [style.left]="(game.me.position.x * 32) + 'px'"
    [style.top]="(game.me.position.y * 32) + 'px'"
    (transitionend)="onTransitionEnd()"
  >
    <img
      [ngClass]="{
        'face-left': game.me.action === 'face-left',
        'face-right': game.me.action === 'face-right',
        'face-up': game.me.action === 'face-up',
        'face-down': game.me.action === 'face-down',
        'walk-left': game.me.action === 'walk-left',
        'walk-right': game.me.action === 'walk-right',
        'walk-up': game.me.action === 'walk-up',
        'walk-down': game.me.action === 'walk-down'
      }"
      src="assets/{{game.me.avatar}}.png"
    >
  </div>

  <!-- tiles -->

  <div
    *ngFor="let tile of game.tiles"
    class="tile"
    [style.z-index]="tile.position.y - 3"
    [style.left]="(tile.position.x * 32 + 16) + 'px'"
    [style.top]="(tile.position.y * 32 + 40) + 'px'"
  >
    <img src="assets/tile.png">
  </div>

</div>

<div class="position-absolute bottom-0 mb-1 ms-1">
  
  <div *ngIf="!anonymousSocketConnected && !authenticatedSocketConnected">
    Connecting....
  </div>

  <div *ngIf="authenticatedSocketConnected" class="d-flex align-items-baseline">
    <button type="button" class="btn btn-primary" (click)="logout()"> Logout </button>
    <div class="ms-2 text-info">{{game.me.email}}</div>
  </div>

  <div *ngIf="anonymousSocketConnected">
    <authentication-widget [anonymousSocket]="anonymousSocket"></authentication-widget>
  </div>
</div>
