.dungeon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.navigation-button {
    height: 100px;
    width: 100px;
    user-select: none;
    -webkit-user-select: none; /* try this for safari */
}

canvas {
    border: 1px solid white;
    max-width: 95%;
}
