.dungeon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.navigation-button {
    height: 100px;
    width: 100px;
    max-width: 23%;
}

.navigation-button:hover:not(:active) {
    background-color: #6c757d;
}

canvas {
    border: 1px solid white;
    max-width: 95%;
}
